{{!-- <main class="container-fluid py-5 block block-1"> --}}
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="row row-one">
                    <div class="col-md-4 col-sm-4 col-4">
                        <img src="https://image.tmdb.org/t/p/w342/{{weekly.poster_path}}" alt="{{weekly.title}}">
                    </div>
                    
                    <div class="col-md-8 col-sm-8 col-8">
                        <h2 id="book-title">Title</h2>
                        <span id="book-desc">This is random stuff This is random stuff This is random stuff This is
                            random stuff This is random stuff This is random stuff This is random stuff This is random
                            stuff This is random stuff This is random stuff This is random stuff This is random stuff
                            This is random stuff This is random stuff This is random stuff This is random stuff This is
                            random stuff This is random stuff This is random stuff This is random stuff This is random
                            ndom stuff This is random stuff This is random stuff This is random stuff This is random
                            stuff This is random stuff This is random stuff This is random stuff This is random stuff
                            This is random stuff This is random stuff This is random stuff This is random stuff This is
                            random stuff This is random stuff This is rand stuff </span>
                    </div>
                </div>
            </div>
        </div>





        {{!-- </body> --}}
        {{!-- {{#each movies as |movie|}}
        <p>{{movie.id}}</p>
        <p>{{movie.title}}</p>
        <p>{{movie.vote_average}}</p>
        <p>{{movie.overview}}</p>

        <img src="https://image.tmdb.org/t/p/w185/{{movie.poster_path}}" alt="moviePoster">
        {{/each}} --}}
