{{#each movies as |movie|}}
<p>{{getMoviesAll.id}}</p>
<p>{{movie.title}}</p>
<p>{{movie.vote_average}}</p>
<p>{{movie.overview}}</p>

<img src="https://image.tmdb.org/t/p/w185/{{movie.poster_path}}" alt="moviePoster">
{{/each}}
