{{!-- <main class="container-fluid py-5 block block-1"> --}}
    <div class="container-fluid block block-1">
        <div class="container block block-1">
            <div class="row full-width">
                <div class="col-md-6 col-sm-6 col-6 text-center py-5 me-3">
                    <img src="https://image.tmdb.org/t/p/w342/{{weekly.poster_path}}" alt="{{weekly.title}}">
                </div>

                <div class="col-md-6 col-sm-6 col-6 py-5">
                    <h2 class="text-center">{{weekly.title}}</h2>
                    <p class="text-center">{{weekly.release_date}}</p>
                    <p class="text-center">{{weekly.vote_average}}</p>
                    <p class="text-center">{{weekly.overview}}</p>

                </div>
            </div>
        </div>
