{{#each movies as |movie|}}
<!--<p class="idm">ID: {{movie.id}}</p>-->
<p class="title"> Title: {{movie.title}}</p>
<p class="vote"> Avg Vote: {{movie.vote_average}}</p>
<p class="overview"> Overview: {{movie.overview}}</p>

<img src="https://image.tmdb.org/t/p/w185/{{movie.poster_path}}" alt="moviePoster">
{{/each}}