<div class="posts">
    <div class="row justify-content-center">
        <div class="col-lg-7" style="margin-top: 50px;">
            <div class="card">
                <img src="https://picsum.photos/500/500" class="card-img-top" alt="movieposter" width="500" height="500">
                <div class="card-body">
                    <div class="container container-fluid mt-5">
                        <div class="row mt-4">
                            <div class="col-md-6">
                                <h3>Create a new review:</h3>
                                <form class="form new-blogpost-form">
                                    <div class="form-group">
                                        <label for="blogpost-title">Title:</label>
                                        <input class="form-input" type="text" id="blogpost-title" name="blogpost-title" />
                                    </div>
                                    <div class="form-group">
                                        <label for="blogpost-content">Content:</label>
                                        <textarea class="form-input" id="blogpost-content" name="blogpost-content"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Review</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <h5 class="card-title">Posted by {{user.name}}</h5>
                    <ul class="list-group">
                        <li class="list-group-item">This is supposed to be a review.</li>
                        <li class="list-group-item">This is supposed to be a review.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../public/js/createReview.js"></script>

{{#each movies as |movie|}}
<!--<p class="idm">ID: {{movie.id}}</p>-->
<p class="title"> Title: {{weeklymovie.title}}</p>
<p class="vote"> Avg Vote: {{weeklymovie.vote_average}}</p>
<p class="overview"> Overview: {weekly{movie.overview}}</p>

<img src="https://image.tmdb.org/t/p/w185/{{weeklymovie.poster_path}}" alt="moviePoster">
{{/each}}