<div class="container-fluid block block-2">
    <div class="container-fluid block block-2">
        <h2 class="text-center pt-5">Let's talk about it!</h2>
        <div class="row full-width">
            {{#each searched as |searchedMovie|}}
            <div class="col-md-6 col-sm-6 col-6 text-center py-5 me-3">
                <img src="https://image.tmdb.org/t/p/w342/{{msearchedMovie.poster_path}}" alt="{{movie.title}}">
            </div>
            <div class="col-md-6 col-sm-6 col-6 py-5">
                <h2 class="text-center">{{searchedoovie.title}}</h2>
                <p class="text-center">{{searchedMovie.release_date}}</p>
                <p class="text-center"><strong>{{searchedMovie.vote_average}}</strong></p>
                <h5 class="text-center">{{searchedMovie.overview}}</h5>
            </div>
            {{/each}}
        </div>
    </div>
</div>